.logo-container {
  /* background-image from: "https://media.freestocktextures.com/cache/75/e4/75e41ef1aebfb7bcff008e9450481371.jpg" */
  /*background-image: url("../../../public/papirus.jpg");*/
  background-image: url("https://media.freestocktextures.com/cache/75/e4/75e41ef1aebfb7bcff008e9450481371.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.logo-title {
  color: black;
  height: 100%;
}

@media only screen and (max-width: 400px) {
  .fas {
    display: none;
  }
}