.logo-container {
  background-image: url("/leather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.logo-title {
  color: #ccffff;
  height: 100%;
}

@media only screen and (max-width: 400px) {
  .fas {
    display: none;
  }
}